{% extends "base.html" %}

{% block title %}About{% endblock title %}
{% block stylesheet %}{% endblock stylesheet %}

{% block home_activation %}{% endblock home_activation %} 
{% block about_activation %}active{% endblock about_activation %}
{% block repo_activation %}{% endblock repo_activation %}
{% block zip_activation %}{% endblock zip_activation %}
{% block contact_activation %}{% endblock contact_activation %}
{% block login_activation %}{% endblock login_activation %}
{% block signup_activation %}{% endblock signup_activation %}

{% block body %}{% endblock body %}