{% extends "base.html" %}

{% block title %}Zip Files{% endblock title %}

{% block home_activation %}{% endblock home_activation %} 
{% block login_activation %}{% endblock login_activation %}
{% block about_activation %}{% endblock about_activation %}
{% block repo_activation %}{% endblock repo_activation %}
{% block resource_activation %}active{% endblock resource_activation %}
{% block zip_activation %}active{% endblock zip_activation %}
{% block contact_activation %}{% endblock contact_activation %}


{% block body %}{% endblock body %}