<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</title>
</head>
<body>
    <H2>HOME</H2>
    <HR>
    <br>
    <p>       This is one of the most renowned Government Sponsored Bengali medium schools for girls in the city. 
        The school is proudly carrying forward a rich heritage and also incorporates modern educational ideas and applications in tune with the changing times.
        Our goal is to form women alive to the needs of our world, with the knowledge which gives them power to act, and motivated by the love and wisdom in their action.</p>

    <P>The education of girls from every social background has to be undertaken so that there can be produced not only women of refined talents but also those great souled persons who are so desperately needed by our times. Our school is a centre of human formation where every child is welcomed and loved.</P>
        
    <p>The Baghbazar Multipurpose Girls' School is a Govt. Sponsered School Under Article 30 of the Constitution of India. Run according to The Special Rules of Govt. of West Bengal.The School is under the administrative control of the School Managing Committee of the School. This school is Affiliated to : West Bengal Board of Secondary Education (Class V to X) and West Bengal Council of Higher Secondary Education (Class XI & XII)</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Ykh8k-kHDK5R2S2B5JNn0pvGD8OOqILPWw&usqp=CAU"alt="school logo"hight="100"/>
</body>
</html>