<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</title>
</head>
<body>
    <pre>
    <h1><B>                     <u>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</u>                                                            </B></h1>
    </pre>
    <PRE><h2>       <a href="">HOME</a>        <a href="subject">SUBJECT</a>          <a href="teachers">TEACHERS</a>           <a href="student_reg">REGISTRATION</a>           <a href="image">IMAGE</a>           <a href="syllabus">SYLLABUS</a></h2></PRE>
    <HR>
    <H1><U><B>ABOUT</B></U></H1> 
    <H5><U>History of School</U></H5>
    <P>The institution was established in1965, and endeavour sponsored by the Education Department, Govt. of West Bengal, in response to the local public demand. According to rules prevalent then, Science, Home Sc. and Humanities were taught till class XI. Later according revised rules Secondary and Higher Secondary Sections were taught from 1974. Late Smt. Roma Gupta was the first Headmistress. After her, late Smt. Anima Mukherjee took on the mantle, and under her administration BMGS became one of the most sought-after Bengali Medium Schools for girls in Kolkata. Subsequently, the institution continued to flourish under the able guidance Smt. Mahamaya Sen and then, Smt. Jharna Majumder. The current Headmistress is Smt. Hena Siddhanta.

      <H4>  In 1968, students from this school appeared in the State Board Examination, and passed with flying colours. This tradition has been continuing, and students have featured prominently in State Merit lists in subsequent years.
        
        The school has crossed the milestone of 50 years in 2015 in its journey of glory.</H4>
    <H5><U>Aims and Objective</U></H5> 
        Aims and Objective
        The institution aims to provide wholesome education by encouraging academic excellence and to create ample opportunities for all-round development of students through co-curricular activities.
        
        The school teaches the students the values of cooperation and compassion so that they become worthy and responsible citizens.
        </P>
<hr>
        <footer>     <!--it's a footer tag-->
            <h5>Contact us :033 2555 6347</h5>
            <h5>Email: bmgskolkata@gmail.com</h5>
        </footer>
</body>
</html>