<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</title>
</head>
<body>
    <h3><B>REGISTRATION FORM</B></h3>
    <h4>Enter student name</h4>
        <form action="/action.php">
            <input type="text" placeholder="student name">
            <br>
    <h4>Enter your address</h4>
            <input type="text" placeholder="address">
            <br>
    <h4>Enter your email id </h4>
            <input type="text" placeholder="email id">
            <br>
    <h4>Enter your mobile number</h4>
            <input type="number" placeholder="mobile number">
            <br>
     <h4>Enter parent name</h4>
            <input type="text" placeholder="Parent name">
            <br>
    <h4>Enter parent email id </h4>
            <input type="text" placeholder="email id">
            <br>
    <h4>Enter parent mobile number</h4>
            <input type="number" placeholder="mobile number">
            <br>
    <h4>Enter D.O.B</h4>
            <input type="date" placeholder="D.O.B">
            <br>
            <br>
            <h5>select your class</h5>
            <label for="101">
            <input type="radio" value="class XI"name="class"id="101">class XI
            </label>
            <br>
            <label for="102">
            <input type="radio" value="class XII"name="class" id="102">class XII
            </label>
            <br>
            <br>
            <h5>SELECT YOUR SUBJECT</h5>
            <label for="math">
                <input type="checkbox"value="math"name="subject" id="1001"> MATH
            </label>
            <br>
            <label for="physics">
                <input type="checkbox"value="physics"name="subject" id="1002"> PHYSICS
            </label>
            <br>
            <label for="biology">
                <input type="checkbox"value="biology"name="subject" id="1003"> BIOLOGY
            </label>
            <br>
            <label for="chemistry">
                <input type="checkbox"value="chemistry"name="subject" id="1004"> CHEMISTRY
            </label>
            <br>
            <label for="computer science">
                <input type="checkbox"value="computer science"name="subject" id="1005"> COMPUTER SCIENCE
            </label>
            <br>
            <label for="computer science">
                <input type="checkbox"value="computer application"name="subject" id="1005"> COMPUTER APPLICATON
            </label>
            <br>
            <label for="math">
                <input type="checkbox"value="HISTORY"name="subject" id="1001"> HISTORY
            </label>
            <br>
            <label for="physics">
                <input type="checkbox"value="GEOGRAPHY"name="subject" id="1002"> GEOGRAPHY
            </label>
            <br>
            <label for="biology">
                <input type="checkbox"value="PHILOSOPHY"name="subject" id="1003"> PHILOSOPHY
            </label>
            <br>
            <label for="chemistry">
                <input type="checkbox"value="POLITICAL SCIENCE"name="subject" id="1004"> POLITICAL SCIENCE
            </label>
            <br>
            <BR>
            <input type="submit"value="submit">
</body>
</html>