<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</title>
</head>
<body>
    <ol><h2>SUBJECT</h2>
        <li>MATHEMATICS</li>
        <LI>PHYSICS</LI>
        <li>CHEMISTRY</li>
        <LI>BIOLOGY</LI>
        <LI>COMPUTER</LI>
        <LI>HISRORY</LI>
        <LI>GEOGRAPHY</LI>
        <LI>BENGALI</LI>
        <LI>ENGLISH</LI>
    </ol>
</body>
</html>
    
