<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGHBAZAR MULTIPURPOSE GIRL'S HIGH SCHOOL</title>
</head>
<body>
    <oi><H3>science teacher</H3>
        <li>Abir sarkar</li><img src=""alt="note book"hight="100"/>
        
        <li>Bikash ghosh</li><img src=""alt="note book"hight="100"/>

        <li>Dipa roy</li><img src=""alt="note book"hight="100"/>

        <li>Lisa sarkar</li><img src=""alt="note book"hight="100"/>

        <li>Pritam das</li><img src=""alt="note book"hight="100"/>

        <li>Souvik paul</li><img src=""alt="note book"hight="100"/>
        
    </oi>
</body>
</html>