<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXTUTILS</title>
</head>
<body>
    <h1>Analyzing Text</h1>
    <h3>Your text:  {{ your_text }}</h3>
    <h3>----OPERATIONS----</h3>
    <h3>Punctuation Removal:  {{ one }}</h3>
    <h3>Perfect Capitalization:  {{ two }}</h3>
    <!-- <h3>New Line Removal:  {{ three }}</h3>
    <h3>Space removal:  {{ four }}</h3>
    <h3>Character Count:  {{ five }}</h3> -->
    <h3>----Result----</h3>
    <h3>Analyzed text: {{ analyzed_txt }}</h3>
</body>
</html>